# --- LOGS ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- SEGURIDAD ---
.env
backend/.env
.DS_Store

# --- ARCHIVOS GENERADOS POR LA APP ---
backend/notifications_log.json
*.sqlite3
*.db
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dist
dist-ssr
*.local